body {
  background-color: #161616;
  text-align: center;
}

h1{
  color: white;
  width: 150px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-bottom: 5px solid #b9a92c;
}